<div class="form-group">
  <label id="t" class="sr-only"for="url">URL:</label>
  <input type="url"  required placeholder="Url..." name="url" id="url" class="form-control col mr-2">

</div>



  <button type="submit" class="btn btn-primary ">
    Shrink
  </button>
