<%- include("header") %>
<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
 <meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <meta name="theme-color" content="#ff9966" />
    <link href="https://fonts.googleapis.com/icon?family=Markazi+Text" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Summers url shortner</title>
  </head>
  <body>
    <div id="container">
      
   
    <h1 >
      Url shortner
    </h1>
    <form action="" method="POST" class="my-4 form-inline">
     <%- include("_form_fields")%>
    
    </form>
    
       </div>
  </body>
  <style>
  body{
background-color: #000000
  }
  h1{
color
    : white;
  }
      #t{
color
    : white;
  }
    .full{
color: white;
    }
    .clicks{
      color: white;
    }
    .short{
color: white;
    }
    #clickCount{
      color: white;
    }
    </style>
</html>
